<section class="row aboutus">
   <h2>Почему стоит покупать у нас</h2>
    <div class="adv col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="img/title.png" alt="">
        <h3>Официальный дистрибьютор</h3>
        <p>Наша компания официальный дистрибьютор в Беларусь компьютерной технкики и&nbsp;комплектующих уже более 20&nbsp;лет</p>
    </div>
    <div class="adv col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="img/mechanics.png" alt="">
        <h3>Официальная гарантия</h3>
        <p>Имеем собственный авторизованный сервисный центр по&nbsp;ремонту компьютерной техники и&nbsp;комплектующих</p>
    </div>
    <div class="adv col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <img src="img/savings.png" alt="">
        <h3>Лучшие цены в&nbsp;РБ</h3>
        <p>Мы гарантируем лучшие цены на рынке Беларуси. При заказе от&nbsp;5&nbsp;штук предоставляем дополнительные скидки</p>
    </div>
</section>