<section class="row components">
    <div class="component col-xs-12 col-sm-12 col-md-4">
        <img src="img/023-motherboard.png" alt="">
        <h3>Материнские платы</h3>
        <p>Идеальный вариант — дешевая плата, совместимая с дешевым процессором, но дорогими видеокартами.</p>
    </div>
    <div class="component col-xs-12 col-sm-12 col-md-4">
        <img src="img/024-video-card.png" alt="">
        <h3>Видеокарты</h3>
        <p>Заработок напрямую зависит от возможностей этого компонента, поэтому для значительного дохода, нужна карта с высокими характеристиками.</p>
    </div>
    <div class="component col-xs-12 col-sm-12 col-md-4">
        <img src="img/021-power.png" alt="">
        <h3>Блоки питания</h3>
        <p>Блок питания  для майнинга должен отличаться оптимальным сочетанием выносливости, мощности и безопасности.</p>
    </div>
</section>