<section class="row item">
 <div class="img-holder col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <img src="img/rog-strix-mining.png" alt="ASUS ROG STRIX-RXVEGA64-O8G-GAMING">
    </div>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <h2>Видеокарта ASUS ROG STRIX-RXVEGA64-O8G-GAMING</h2>
        <p>Геймерская модель высшего класса. Используемая на ней система охлаждения может похвастать высокой эффективностью за счет пыленепроницаемых вентиляторов с оптимизированной геометрией крыльчатки. Поэтому она отлично подходит для майнинга.</p>
        <ul class="advantages">
            <li>Улучшенный отвод тепла от графического чипа – технология MaxContact</li>
            <li>Пыленепроницаемые вентиляторы с оптимизированной формой крыльчатки</li>
            <li>Разъемы для системных вентиляторов (технология FanConnect II)</li>
            <li>Разгонная утилита GPU Tweak II для настройки и мониторинга параметров видеокарты</li> 
        </ul>
        <span class="price">Цена: 900$</span>
        <button class="send">Заказать</button>
    </div>
</section>