<section class="row item bg-gray">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <h2>Видеокарта ASUS Mining P104 с&nbsp;максимальным hash rate</h2>
        <p>Высоконадежная видеокарта, предназначенная для круглосуточной работы при расчете алгоритмов получения криптовалют. Оптимальное соотношение стоимости к производительности.</p>
        <ul class="advantages">
            <li>Долговечные пыленепроницаемые вентиляторы с двойным шарикоподшипником</li>
            <li>Премиальные компоненты Super Alloy Power II и автоматизированная технология производства Auto-Extreme</li>
            <li>Эксклюзивная утилита GPU Tweak II для настройки и мониторинга видеокарты</li>
        </ul>
        <span class="price">Цена: 500$</span>
        <button class="send">Заказать</button>
    </div>
    <div class="img-holder col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <img src="img/p104-mining.png" alt="ASUS Mining P104">
    </div>
</section>