<header>
    <div class="row top-line">
        <div class="logo col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-0 col-md-2 col-md-offset-0 col-lg-3 col-lg-offset-1">
            <a href="http://cdls.by/">
            <img src="img/logo.png" alt="logo" />
            </a>
        </div>
        <div class="contacts col-xs-12 col-sm-7 col-md-7 col-lg-5">
            <a href="tel:+375447760430">+375&nbsp;44&nbsp;776-04-30</a>
            <a href="mailto:k.standart@cdls.by">k.standart@cdls.by</a>
        </div>
        <div class="button-holder col-xs-12 col-sm-3 col-md-3 col-lg-2">
            <button class="send">Заказать&nbsp;звонок</button>
        </div>
    </div>
    <div class="row banner">
        <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-lg-offset-1">
            <h1>Оборудование для&nbsp;майнинга</h1>
            <p>Мы предлагаем современное и мощное оборудование для майнинга криптовалют. Предоставляем консультации и помощь в подборе комплектующих и других специализированных устройств. Мы работаем напрямую с производителями. Поэтому гарантируем лучшие цены на рынке Беларуси, и официальную гарантию.</p>
        </div>
    </div>
</header>