<section class="row item">
    <div class="img-holder col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <img src="img/b250-mining.png" alt="ASUS B250 Mining Expert">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <h2>Материнская плата для майнинга <br>ASUS B250 Mining Expert</h2>
        <p>Обеспечивает все необходимое для эффективной работы ваших видеокарт. 19 слотов PCIe сгруппированы в три различные зоны, каждая оснащена собственным выделенным 24-контактным разъемом питания ATX12V - уменьшая сложность проводки и обеспечивая достаточную подачу питания во все слоты PCIe.</p>
        <ul class="advantages">
            <li>Эксклюзивная конструкция с тройным ATX12V и 19 развязывающих конденсаторов для стабильной подачи питания</li>
            <li>ASUS PCIe Slot State Detection показывает состояние каждой подключенной GPU для удобства управления и отладки</li>
            <li>Уникальный режим Mining для беспроблемной настройки вашей фермы: никаких настроек BIOS не требуется</li>
        </ul>
        <span class="price">Цена: 200$</span>
        <button class="send">Заказать</button>
    </div>
</section>