<section class="row item bg-gray">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5 col-lg-offset-1">
        <h2>Блок питания FSP 2000-A0AGPB1 special mining edition</h2>
        <p class="advantages">Оборудован модульной системой кабелей и сертифицирован на соответствие требованиям стандарта 80Plus Platinum. В нем предусмотрены защиты от перегрева, по току, напряжению и перегрузке.</p>
           <ul class="advantages">
            <li>Вентилятор производства компании PowerLogic PLA13525B12HH с двойным шариковым подшипником</li>
            <li>В критически важных узлах применяются высоконадежные конденсаторы, выдерживающие свои параметры в течение нескольких лет</li>
            <li>Способен поддерживать не только материнскую плату с подключенными к ней накопителями, но и до 8 видеокарт</li>
        </ul>
            <span class="price">Цена: 300$</span>
            <button class="send">Заказать</button>
    </div>
    <div class="img-holder col-xs-12 col-sm-6 col-md-6 col-lg-5">
        <img src="img/fsp2000-mining.png" alt="FSP 2000-A0AGPB1">
    </div>
</section>