<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Оборудование для майнинга</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.min.css">

        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/script.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            //= include/b-header.html
            //= include/b-components.html
            //= include/b-motherboard.html
            //= include/b-graphiccard.html
            //= include/b-graphiccard-2.html
            //= include/b-supply.html
            //= include/b-company.html
            //= include/b-footer.html
            //= include/b-modal-form.html
        </div>
    </body>
</html>